---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '../images/logo.svg'
import TipCalculator from '../components/TipCalculator.astro'
---

<Layout title="Welcome to Astro.">
	<main class="min-h-screen md:px-4 flex flex-col lg:justify-center ">
		<Image src={logo} alt="Site Logo" class='mt-[50px] lg:mt-0 mx-auto mb-10 lg:mb-[87.86px]'/>
		<TipCalculator />
	</main>
</Layout>

